@import 'src/styles/variables';

.CaseImageAnnotater {
  background-color: $faded-pink;
  border-radius: 0 0 1rem 1rem;
  padding: 0 1rem 1rem;

  &__container {
    position: relative;
  }

  &__original {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0.5rem;
  }

  &__annotated {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
  }
}