@import 'src/styles/variables';

.CaseListItem {
  color: $dark-blue;
  cursor: pointer;
  padding: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__case-name {
    margin: 0;
  }

  &:nth-child(odd) {
    background-color: $faded-pink;
  }
}