@import 'src/styles/variables';

.CaseDetail {
  display: flex;
  flex-flow: column;
  // margin-left: 1rem;
  min-width: 50rem;
  overflow-y: auto;

  &__body {
    display: flex;
    flex: 1;
    flex-flow: column;
    margin: 1rem 0;
    padding: 0 1rem;
  }

  &__no_case_selected {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__footer {
    background-color: $white;
    bottom: 0;
    box-shadow: $drop-shadow;
    box-sizing: border-box;
    padding: 1rem;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}