@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Poppins:wght@400;500;700&family=Roboto:wght@500&display=swap');

// Colors
$dark-blue: #092348;
$medium-pink: #AE076D;
$faded-pink: rgba(174, 7, 109, 0.2);
$white: #ffffff;
$black: #000000;
$rich-black: #010203;
$shadow: rgba(0, 0, 0, 0.25);

$opened: #04728B;
$submitted: #705F95;
$updated: #EE851B; 
$approved: #34A300;
$rejected: #D9481C;

// Fonts
$open-sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

// Styles
$drop-shadow: 0 0 12px 0 $shadow;
$inset-shadow: inset 0 0 12px 0 $shadow;
$input-bottom-border: inset 0 -6px 0 -0 $faded-pink;
