@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Poppins:wght@400;500;700&family=Roboto:wght@500&display=swap');

// Colors
$dark-blue: #092348;
$medium-pink: #AE076D;
$faded-pink: rgba(174, 7, 109, 0.2);
$white: #ffffff;

$opened: #048BA8;
$submitted: gray;
$updated: #F29E4C; 
$approved: #3EC300;
$rejected: #E4572E;

// Fonts
$open-sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;
