@import 'src/styles/variables';

.CaseDetailHeader {
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__info {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  &__title {
    color: $medium-pink;
    margin: 0 1rem 0 0;
  }
}