@import 'src/styles/variables';

.AppHeader {
  box-shadow: $inset-shadow;
  border-bottom: 1rem solid $faded-pink;
  display: flex;
  align-items: center;
  grid-area: app-header;
  justify-content: space-between;
  padding: 1rem;

  &__logo {
    align-self: stretch;
  }

  &__title {
    color: $dark-blue;
    font-family: $open-sans;
    justify-self: left;

    &___highlight {
      color: $medium-pink;
    }
  }
}