@import 'src/styles/variables';

.AppHeader {
  box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  grid-area: app-header;
  padding: 1rem;

  &__title {
    color: $dark-blue;
    font-family: $open-sans;
    justify-self: left;

    &--highlight {
      color: $medium-pink;
    }
  }
}