.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 7.375rem 1fr;
  grid-template-areas: "app-header app-header"
                       "case-list  case-details";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  .AppHeader {
    grid-area: app-header;
  }
  
  .CaseList {
    grid-area: case-list;
  }
  
  .CaseDetail,
  .NewCaseButton {
    grid-area: case-details;
  }
}

