@import 'src/styles/variables';

.NewCaseButton {
  align-self: center;
  appearance: none;
  background-color: $opened;
  border-radius: 2rem;
  border: 3px solid $opened;
  color: $white;
  cursor: pointer;
  font-family: $open-sans;
  font-size: 1rem;
  font-weight: 700;
  justify-self: center;
  max-width: 12rem;
  padding: 1rem;

  &:hover {
    background-color: $white;
    color: $opened;
  }
}